{% extends "layout.html" %} 

{% block title %} about {% endblock %} 



{% block header %}

<nav>
  <img class="logo" src="{{ url_for('static', filename='Eplay.png')}}" />
  <ul
    id="primary-navigation"
    data-something="false"
    class="primary-navigation flex underline-indicators"
  >
    <li {% block active %}{% endblock %}>
      <a
        class="uppercase text-color letter-spacing-2 ff-sans-cond"
        href="/"
        >Home</a
      >
    </li>
    <li class="list-center active" aria-selected="true">
      <a class="uppercase letter-spacing-2 ff-sans-cond" href="/about"
        >About us</a
      >
    </li>
    <li>
      <a
        class="uppercase letter-spacing-2 ff-sans-cond jp"
        href="/class"
        >クラス</a
      >
    </li>
    <li>
      <a
        class="uppercase letter-spacing-2 ff-sans-cond jp"
        href="/events"
        >イベント</a
      >
    </li>
    <li>
      <a
        class="uppercase letter-spacing-2 ff-sans-cond jp"
        href="/register"
        >体験申込み</a
      >
    </li>
    <li>
      <a
        class="uppercase letter-spacing-2 ff-sans-cond jp"
        href="/access"
        >アクセス</a
      >
    </li>
    <!-- <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle uppercase letter-spacing-2 ff-sans-cond"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Language
      </a>
      <ul class="dropdown-menu uppercase ff-sans-serif">
        <li>
          <button id="eng" class="button uppercase">English</button>
        </li>
        <li><button id="jp" class="button jp">日本語</button></li>
      </ul>
    </li> -->
  </ul>
</nav>

{% endblock %}



{% block main%}
<div class="jp center cards">
    <div class="">
      <h1 class="eng">E playとは？</h1>
    </div>
    <div class="about-info">
      <!-- <img src="./assets/Teacher.png" /> -->
      <h2 class="jp size">
        "English(英語)" の
        <b>E</b>
      </h2>
      <h2>音楽を"流す"、"遊ぶ"、そして"芝居"の <b>play</b></h2>
      <p>
        子どもの想像力を働かせることを大切に、英語で自分を表現することを目指します。
      </p>
    </div>
    <div class="about-info">
      <!-- <img src="./assets/studying.png" /> -->
      <p class="jp">
        そんな遊び心のある英語教室という意味を込め、Eを柔らかみのある筆記体のEにしました。
      </p>
      <p class="jp spacer">
        <a href="/class">クラスの種類やレッスン内容へ</a>
      </p>
    </div>
    <div class="about-info">
      <img src="" />
      <h2 class="left">恵美侑子</h2>
      <h6 class="jp left">Eplay代表兼レッスンスタッフ</h6>
      <p class="left">
        高円宮杯全国中学弁論大会の滋賀県代表。英語で話すことが好きで、高校ではニュージーランド留学を経験。ただ、コミュニケーション能力の無さに挫折。大学は名古屋外国語大学国際教養学科に入学。
      </p>
      <p class="left">
        在学中にUCRディズニー特別留学でフロリダのディズニーワールドでのお仕事を経験。それが自信に繋がり、某テーマパークでパフォーマーを2年間経験。その後2年間、若者の英語劇団で英語を教えるスタッフとして携わる。故郷に戻ってからは夢であった英会話教室を起業し、今に至る。
      </p>
      <p class="jp"></p>
    </div>
  </div>

{% endblock %}